<h1>Mis Grupos de amigos</h1>

<p><%= link_to 'Crear Nuevo Grupo', new_group_path %></p>

<table>
<% @groups.each do |group| %>
    <tr>
        <td>
            <h2><%= link_to(group.group_name, group) %><%= " (#{group.group_members.length})" %></h2>
        </td>
    </tr>
    <tr>
        <td>
        <%= form_tag(:controller => 'groups', :action => 'add_members') do %>
        <%= text_field_tag :new_members %>
        <%= hidden_field_tag :group_id, group.id %>
        <%= submit_tag t(:add_friends) %>
        <% end %>
        </td>
    </tr>
    <tr>
        <td><%= link_to 'Editar grupo', edit_group_path(group) %></td>
    </tr>
    <tr>
        <td><%= link_to 'Eliminar grupo', group, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
<% end %>
</table>
