<h1>Mis Grupos de amigos</h1>

<p><%= link_to 'Crear Nuevo Grupo', new_group_path %></p>

<table text-align="left">
<% @groups.each do |group| %>
    <% if group.user_id == session[:user_id] %>
    <tr>
        <td>
            <h2><%= link_to group.group_name, group %></h2>
        </td>
    </tr>
    <% group.group_members.each do |gm| %>
    <tr>
        <td><%= gm.user.name %></td>
    </tr>
    <% end %>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td><%= link_to 'Editar grupo', edit_group_path(group) %></td>
    </tr>
    <tr>
        <td><%= link_to 'Eliminar grupo', group, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
    <% end %>
<% end %>
</table>
