<b>Nombre del grupo:
	<p><%= @group.group_name %></p>
</b>
<h1> Miembros del grupo</h1>

<p>Invitar a nuevo amigo:</p>
  <%= form_tag('add_friends') do %>
    <%= text_field_tag :myfriends %>
    <%= hidden_field_tag :group_id, @group.id %>
    <%= submit_tag t(:add_friends) %>
  <% end %>

<%= link_to 'Back', groups_path %>
