<h1><%= @group.group_name %></h1>
<p><%=t :group %></p>

<p><%=t :add_friends %></p>
	<%= form_tag(:controller => 'groups', :action => 'add_members') do %>
	<%= text_field_tag :new_members %>
	<%= hidden_field_tag :group_id, @group.id %>
	<%= submit_tag t(:add_friends) %>
	<% end %>

<ul>
<% @group.group_members.each do |gm| %>
	<li><%= link_to gm.user.name, gm.user %></li>
<% end %>
</ul>

<%= link_to_back %>
