<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Tu nombre' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Tu correo electr칩nico' %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label 'Tu zona horaria' %><br />
    <%= f.time_zone_select :time_zone, /Santiago/ %>
  </div>
  <div class="field">
    <%= f.label 'Idioma preferido' %><br>
    <%= f.select :locale, [['Espa침ol',"es-CL"], ['English',"en"]] %>
  </div>
  <div class="field">
    <%= f.label 'Contrase침a' %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= label_tag 'password_confirmation', 'Confirme su contrase침a' %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
