<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label I18n.t :user_name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label I18n.t :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label I18n.t :time_zone %><br />
    <%= f.time_zone_select :time_zone, /Santiago/ %>
  </div>
  <div class="field">
    <%= f.label I18n.t :user_locale %><br>
    <%= f.select :locale, [['Español',"es-CL"], ['English',"en"]] %>
  </div>
  <br>
  <div class="field">
    <%= f.label I18n.t :password %><br />
    <%= f.password_field :password %><br />
    <%= label_tag I18n.t :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <br>
  <%= link_to t(:delete_account), @user, confirm: t(:delete_account_confirmation), method: :delete, id: "delete"  %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
