<% title @user.name, false %>

<h1><%= @user.name %></h1>

<p>
  <b><%=t :email %></b>
  <%= @user.email %>
</p>

<p>
  <b><%=t :time_zone %></b>
  <%= @user.time_zone %>
</p>

<p>
  <b><%=t :user_locale %></b>
  <%= @user.locale %>
</p>

<% if session[:user_id] == @user.id %>
<%= link_to I18n.t(:edit_profile), edit_user_path(@user) %>
<% else %>
<%= link_to_back %>
<% end %> | 
<%= link_to I18n.t(:start), :root %>
