<h1><%= @user.email %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Facebook:</b>
  <%= @user.facebook %>

</p>

<p>
  <b>Twitter:</b>
  <%= @user.twitter %>
</p>


<%= link_to 'Editar mis datos', edit_user_path(@user) %> |
<%= link_to 'Atrás', :back %>
