<% title :start %>

<%= render "layouts/menu" %>
<div class="content">
	<nav>
	</nav>
	<h2><%=t :start %></h2>
	<%= @user.name %>
	<%= link_to I18n.t(:edit_profile), @user %>

	<H3>Últimos comentarios</H3>
	<%= @last_updates %>
</div>