<div class="main">
	<nav>
		<%= link_to 'Organizar nuevo evento', new_event_path %> <br>
		<%= link_to 'Próximos eventos', profile_path %>
		<%= link_to 'Los eventos que organizo', "#" %>
		<%= link_to 'Mis amigos', "#" %>
		<%= link_to 'Ver eventos anteriores', "#" %>
	</nav>
	<h2>Próximos eventos</h2>
	
	<!-- Debiésemos cargar todos los eventos a los cuales el usuario ha sido invitado -->
	<% current_user = User.find(session[:user_id]) %>
	<% if session[:user_id] %>
   <% end %>

</div>