
  <%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2>Existen <%= pluralize(@event.errors.count, "error") %> errores!</h2>

        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label I18n.t :event_name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label I18n.t :date_and_time %><br />
      <%= f.datetime_select :date  %>
    </div>
    <div class="field">
      <%= f.label I18n.t :place %><br />
      <%= f.text_field :place %>
    </div>
    <div class="field">
      <%= f.label I18n.t :description %><br />
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.check_box :is_private %>
      <%= f.label I18n.t :private_event %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
