<table text-align="left">
<% @events.each do |event| %>
    <tr>
        <td>
            <h2><%= link_to event.name, event %>
            <% if event.is_private %>
                <b> <abbr title="Evento privado">(P)</abbr></b>
            <% end %>
            </h2>
        </td>
        <% if event.isgoing?(session[:user_id]) %>
            <td><%= link_to "Asistiré" %>
            </td>
        <% else %>
            <td><%= link_to "Asistir a evento", assist_path(event), :notice => "Te has inscrito exitosamente a #{event.name}", :confirm => "¿Seguro que deseas asistir a este evento?" %>
            </td>
        <% end %>
        
    </tr>
    <tr>
        <td><b />Fecha</td>
        <td><%= event.date.to_s(:human) %></td>
    </tr>
    <tr>
        <td><b />Lugar</td>
        <td><%= event.place %></td>
    </tr>
    <tr>
        <td><b />Descripción</td>
        <td><%= event.description %></td>
    </tr>
<% end %>
</table>