<%= render "layouts/menu" %>
<div class="content">
    <h1>Mis Eventos</h1>
    <div>
        <% current_user = User.find(session[:user_id]) %>
        <p>Aqui van los eventos que organizo <%= current_user.email %></p>
    </div>
    <div>
        <table text-align="left">
        <% current_user = User.find(session[:user_id]) %>
        <% @events.each do |event| %>
            <% event.guests.each do |g| %> 
                <% if ((g.user.email == current_user.email) && g.is_admin) %>
                    <tr>
                        <td><b />Nombre</td>
                        <td><%= event.name %></td>
                    </tr>
                    <tr>
                        <td><b />Fecha</td>
                        <td><%= event.date %></td>
                    </tr>
                    <tr>
                        <td><b />Lugar</td>
                        <td><%= event.place %></td>
                    </tr>
                    <tr>
                        <td><b />Descripcion</td>
                        <td><%= event.description %></td>
                    </tr>
                    <tr>
                        <td><b />Es Privado</td>
                        <td><%= event.is_private %></td>
                    </tr>
                    <tr>
                        <td><%= link_to 'Show', event %></td>
                        <td><%= link_to 'Edit', edit_event_path(event) %></td>
                        <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
        </table>
    </div>
    <p></p>
    <%= link_to 'Volver atras', events_path %>
<br />
</div>
