<%= render "layouts/menu" %>
<div class="content">
    <h1>Eventos Publicos</h1>
    <div>
        <p>Aqui se muestran todos los eventos publicos de la pagina</p>
    </div>
    <div>
        <table text-align="left">
        <% @events = Event.find(:all) %>
        <% @events.each do |event| %>
            <% if (event.is_private == false) %> 
                <tr>
                    <td><b />Nombre</td>
                    <td><%= event.name %></td>
                    <td><%= link_to "Asistir a evento", assist_path(event), :confirm => "¿Seguro que deseas asistir a este evento?" %></td>
                </tr>
                <tr>
                    <td><b />Fecha</td>
                    <td><%= event.date %></td>
                </tr>
                <tr>
                    <td><b />Lugar</td>
                    <td><%= event.place %></td>
                </tr>
                <tr>
                    <td><b />Descripcion</td>
                    <td><%= event.description %></td>
                </tr>
                <tr>
                    <td><b />Es Privado</td>
                    <td><%= event.is_private %></td>
                </tr>
                <tr>
                    <td><%= link_to 'Show', event %></td>
                    <td><%= link_to 'Edit', edit_event_path(event) %></td>
                    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
                </tr>
                <tr>
                	<td></td>
                </tr>
            <% end %>
        <% end %>
        </table>
    </div>
    <p></p>
<br />
</div>