<div class="mainevent">
	<div class="leftevent">	
		<div class="picture">
			<%= link_to 'Subir Foto', new_picture_path %>
		</div>
		<div class="guests">
			<h3>Lista de invitados</h3>
			<% @event.guests.each do |guest| %>
				<p><%= guest.user.email %></p>
			<% end %>
		</div>
	</div>
	<div class="rightevent">
		<p><%= link_to "Editar evento" , edit_event_path(@event) %>

		<%= form_tag @event, :method => 'get' do %>
  			<p>Agregar un amigo con su email:
    		<%= text_field_tag :search, params[:search] %>
    		<%= submit_tag "Buscar", :name => nil %>
  			</p>
		<% end %>
		<% if @friends.size == 0 %>
			No existe el usuario
		<% else %>
			<% @friends.each do |friend| %>
				<p><%= link_to "Invitar a #{friend.email}", invite_path(@event, friend) %></p>
			<% end %>
		<% end %>
		<p>Aqui va la lista de cosas y los botones importantes</p>
	</div>
	<div class="centerevent">
		<p id="notice"><%= notice %></p>
			<p>
			  <h1><%= @event.name %></h1>
			</p>

			<p>
			  <b>Fecha:</b>
			  <%= @event.date %>
			</p>

			<p>
			  <b>Lugar:</b>
			  <%= @event.place %>
			</p>

			<% @event.guests.each do |guest| %>
			<p>
				<b>Administrador:</b>
				<% if !guest.user.nil? && guest.is_admin ==true %>
					<%= guest.user.email %>
				<% end %>
			</p>
			<% end %>

			<p>
			  <b>Descripción:</b>
			  <%= @event.description %>
			</p>

			<p>
				<% if (@event.is_private) %>
					<p>Evento Privado</p>
				<% else %>
					<p>Evento Publico</p>
				<% end %>
			</p>

			<h2>Comentarios</h2>
			<%= render @event.event_comments  %>

			<h2>Agregar un comentario</h2>
			<%= render "event_comments/form" %>

		<%= link_to 'Atrás', {}, :onclick => 'history.go(-1)' %>
	</div>
</div>