<p id="notice"><%= notice %></p>

<p>
  <h1><%= @event.name %></h1>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Place:</b>
  <%= @event.place %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Is private:</b>
  <%= @event.is_private %>
</p>

<h2>Comentarios</h2>
<%= render @event.event_comments %>

<h2>Agregar un comentario:</h2>
<%= render "event_comments/form" %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
