<div class="mainevent">
	<div class="leftevent">	
		<div class="picture">
			<%= link_to 'Subir Foto', new_picture_path %>
		</div>
		<div class="guests">
			<h3>Lista de invitados</h3>
			<% @event.guests.each do |guest| %>
				<p><%= guest.user.email %></p>
			<% end %>
		</div>
	</div>
	<div class="rightevent">
		<p><%= link_to "Editar evento" , edit_event_path(@event) %></p>

		<%= form_tag @event, :method => 'get' do %>
  			<p>Invita a un amigo por email:
    		<%= text_field_tag :search, params[:search] %>
    		<%= submit_tag "Buscar", :name => nil %>
  			</p>
		<% end %>
		<% unless @friends.nil?
			unless @friends.empty? %>
				<p><%= link_to "Invitar a #{@friends.first.email}", invite_path(@event, @friends.first) %></p>
			<% else %>
				El usuario ya fue agregado
			<% end %>
		<% end %>
		<p>Aquí va la lista de cosas y los botones importantes</p>
	</div>
	<div class="centerevent">
		<p id="notice"><%= notice %></p>
			<p>
			  <h1><%= @event.name %></h1>
			</p>

			<p>
			  <b>Fecha:</b>
			  <%= @event.date %>
			</p>

			<p>
			  <b>Lugar:</b>
			  <%= @event.place %>
			</p>

			<% @event.guests.each do |guest| %>
			<p>
				<b>Administrador:</b>
				<% if !guest.user.nil? && guest.is_admin ==true %>
					<%= guest.user.email %>
				<% end %>
			</p>
			<% end %>

			<p>
			  <b>Descripción:</b>
			  <%= @event.description %>
			</p>

			<p>
				<% if (@event.is_private) %>
					<p>Evento Privado</p>
				<% else %>
					<p>Evento Público</p>
				<% end %>
			</p>

			<h2>Comentarios</h2>
			<%= render @event.event_comments  %>

			<h2>Agregar un comentario</h2>
			<%= render "event_comments/form" %>

		<%= link_to 'Atrás', :back %>
	</div>
</div>