<% title @event.name, false %>

<div class="leftevent">	
	<div class="picture">
		<%= link_to 'Subir Foto', new_picture_path %>
	</div>
	<div class="guests">
		<h3>Lista de invitados</h3>
		<%= form_tag @event, :method => 'get', :class => 'findUsers' do %>
			<p>Invita a un amigo:</p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag t(:search) %>
	<% end %>
	<% unless @friends.nil?
		unless @friends.empty? %>
			<p><%= link_to "Invitar a #{@friends.first.email}", invite_path(@event, @friends.first) %></p>
		<% else %>
			El usuario ya fue agregado
		<% end %>
	<% end %>
	<% @event.guests.each do |guest| %>
		<p><%= link_to guest.user.name, guest.user %></p>
	<% end %>
	</div>
</div>
<div class="rightevent">
	<p><%= link_to I18n.t(:edit_event) , edit_event_path(@event) %></p>
	<h3><abbr title="<%=t :tax_description %>">CheckList</abbr></h3>
	<% unless @user_commit.blank? %>
		<h4><%=t :user_commit %></h4>
		<% @user_commit.each do |tax| %>
			<div class="user_commit">
				<%= "#{tax.amount_user} #{tax.tax.name}" %>
				<div id="right">
				<%= link_to 'X', [tax.user, tax], :method => 'delete', :confirm => 'sure?' %>
				</div>
			</div>
		<% end %>
	<% end %>
	<% unless @remaining_taxes.blank? %>
		<h4><%=t :remaining_taxes %></h4>
		<% @remaining_taxes.each do |tax| %>
			<div class="tax_remaining">
				<%= remaining_amount tax %>
				<%= " #{tax.name}" %>
				<div id="right">
				<%= form_for([@user, @user.user_taxes.build]) do |f| %>
					<%= f.hidden_field :event_id, :value => @event.id %>
					<%= f.hidden_field :tax_id, :value => tax.id %>
					<%= f.text_field :amount_user %>
					<%= f.submit 'Actualizar!' %>
				<% end %>
				<%= link_to 'X', [tax.event, tax], :method => 'delete', :confirm => 'sure?' %>
				</div>
			</div>
		<% end %>
	<% else %>
	<p>¡No hay nada que llevar aún!</p>
	<% end %>
	<p><%=t :add_tax %></p>
	<%= render "taxes/form" %>
	
</div>
<div class="centerevent">
	<div id="eventinfo">
		<p>
		  <h1><%= @event.name %></h1>
		  <% if (@event.is_private) %>
				<%=t :private_event %>
			<% end %>
		</p>

		<p>
		  <b><%=t :date_and_time %></b>
		  <%=l @event.date.in_time_zone, :format => :long %>
		</p>

		<p>
		  <b><%=t :place %></b>
		  <%= @event.place %>
		</p>

		<p>
			<b><%=t @event.number_of_admins>1 ? :admins : :admin %></b>
			<%= @admins %>
		</p>

		<% unless @event.description.blank? %>
			<p>
				<b><%=t :description %></b>
			 	<%= @event.description %>
			</p>
		<% end %>
	</div>
	<% unless @event.event_comments.blank? %>
	<div id="eventinfo">
		<h2><%=t :comments %></h2>
		<%= render @event.event_comments %>
	</div>
	<% end %>
	<h3><%=t :add_comment %></h3>
	<%= render "event_comments/form" %>

	<%= link_to_back %>
</div>