<div class="mainevent">
	<div class="leftevent">	
		<div class="picture">
			<%= link_to 'Subir Foto', new_picture_path %>
		</div>
		<div class="guests">
			<h3>Lista de invitados</h3>
			<% @event.guests.each do |guest| %>
				<p><%= guest.user.email %></p>
			<% end %>
		</div>
	</div>
	<div class="rightevent">
		<p><%= link_to I18n.t(:edit_event) , edit_event_path(@event) %></p>

		<%= form_tag @event, :method => 'get' do %>
  			<p>Invita a un amigo por email:
    		<%= text_field_tag :search, params[:search] %>
    		<%= submit_tag "Buscar", :name => nil %>
  			</p>
		<% end %>
		<% unless @friends.nil?
			unless @friends.empty? %>
				<p><%= link_to "Invitar a #{@friends.first.email}", invite_path(@event, @friends.first) %></p>
			<% else %>
				El usuario ya fue agregado
			<% end %>
		<% end %>
		<h3>CheckList</h3>
		<% unless @taxes.blank? %>
			<ul>
			<% @taxes.each do |t| %>
				<li><%= "#{t.amount} - #{t.name}" %></li>
			<% end %>
			</ul>
		<% else %>
			<p>¡No hay nada que llevar aún!</p>
		<% end %>

		<% unless @taxes.blank? %>
			<h2><%=t "bla!" %></h2>
			<%= render @taxes %>
		<% end %>

		<p><%=t :add_tax %></p>
		
	</div>
	<div class="centerevent">
		<p>
		  <h1><%= @event.name %></h1>
		  <% if (@event.is_private) %>
				<%=t :private_event %>
			<% end %>
		</p>

		<p>
		  <b><%=t :date_and_time %></b>
		  <%=l @event.date.in_time_zone, :format => :long %>
		</p>

		<p>
		  <b><%=t :place %></b>
		  <%= @event.place %>
		</p>

		<p>
			<b><%=t @event.number_of_admins>1 ? :admins : :admin %></b>
			<%= @admins %>
		</p>

		<% unless :description.blank? %>
			<p>
				<b><%=t :description %></b>
			 	<%= @event.description %>
			</p>
		<% end %>

		<% unless @event.event_comments.blank? %>
			<h2><%=t :comments %></h2>
			<%= render @event.event_comments %>
		<% end %>

		<h3><%=t :add_comment %></h3>
		<%= render "event_comments/form" %>

		<%= link_to I18n.t(:back), :back %>
	</div>
</div>