<div class="mainevent">
	<div class="leftevent">	
		<div class="picture">
			<%= link_to 'Subir Foto', new_picture_path %>
		</div>
		<div class="guests">
			<h3>Lista de invitados</h3>
		</div>
	</div>
	<div class="rightevent">
		<p>Aqui va la lita de cosas y los botones importantes</p>
	</div>
	<div class="centerevent">
		<p id="notice"><%= notice %></p>

		<p>
		  <h1><%= @event.name %></h1>
		</p>

		<p>
		  <b>Fecha:</b>
		  <%= @event.date %>
		</p>

		<p>
		  <b>Lugar:</b>
		  <%= @event.place %>
		</p>

		<% @event.guests.each do |guest| %>
		<p>
			<% if !guest.user.nil? %>
				<b>Administrador:</b>
				<%= guest.user.email %>
			<% end %>
		</p>
		<% end %>

		<p>
		  <b>Descripcion:</b>
		  <%= @event.description %>
		</p>

		<p>
			<% if (@event.is_private) %>
				<p>Evento Privado</p>
			<% else %>
				<p>Evento Publico</p>
			<% end %>
		</p>

		<h2>Comentarios</h2>
		<% @event.event_comments.each do |comment| %>
		<p>
			<% if !comment.user.nil? %>
			<%= comment.user.email %>
			<% end %>
		</p>
		<p>
			<%= comment.comment %>
		</p>
		<% end %>

		<h2>Agregar un comentario</h2>
		<%= render "event_comments/form" %>


		<%= link_to 'Edit', edit_event_path(@event) %> |
		<%= link_to 'Back', events_path %>
	</div>
</div>