<h1>Imágenes</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Imagen</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pictures.each do |picture| %>
  <tr>
    <td><%= picture.name %></td>
    <td><%= picture.description %></td>
    <td><%= image_tag(picture.picture_url) %></td>
    <td><%= link_to 'Show', picture %></td>
    <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
    <td><%= link_to 'Destroy', picture, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva imagen', new_picture_path %>
