<h1>Imágenes de <%= "#{@event.name}" %></h1>
<table>
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Imagen</th>
    <th>Is Avatar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event.pictures.each do |picture| %>
  <tr>
    <td><%= picture.name %></td>
    <td><%= picture.description %></td>
    <td><%= image_tag(picture.picture_url) %></td>
    <td><%= picture.is_avatar %></td>
    <td><%= link_to 'Show', picture %></td>
    <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
    <td><%= link_to 'Destroy', picture, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva imagen', new_picture_path(:event_id => @event.id, :is_avatar => false) %>
