<h1>Fotos de <%= "#{@event.name}" %></h1>

<br />
<%= link_to I18n.t(:new_picture), new_picture_path(:event_id => @event.id, :is_avatar => false) %>
<p></p>

<table>
<% @event.pictures.each do |picture| %>
  <tr>
    <th><%= picture.name %></th>
  </tr>
  <tr>
    <td><%= image_tag(picture.picture_url) %></a></td>
  </tr>
  <tr>
    <td><%= picture.description %></td>
  </tr>
  <tr>
    <td><%= link_to 'Show', picture %></td>
  </tr>
<% end %>

</table>


