<p id="notice"><%= notice %></p>
<p>
  <b>Nombre:</b>
  <%= @picture.name %>
</p>

<p>
  <b>Path:</b>
  <%= @picture.path %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @picture.description %>
</p>
<p>
	<b>Evento:</b>
	<%= @picture.event.name %>
</p>
<p>
	<b>Es Avatar:</b>
	<%= @picture.is_avatar %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path(:event_id => @picture.event.id) %>
