<div class="modal hide" id="myModal">
<p id="notice"><%= notice %></p>
<p>
  <b>Nombre:</b>
  <%= @picture.name %>
</p>

<p>
  <b>Foto:</b>
  <%= image_tag(@picture.picture_url) %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @picture.description %>
</p>
<p>
	<b>Evento:</b>
	<%= @picture.event.name %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<td><%= link_to 'Destroy', @picture, confirm: 'Are you sure?', method: :delete %></td> |
<%= link_to 'Back', pictures_path(:event_id => @picture.event.id) %>
</div>