 <div id="showpicture">
	<p id="image" style="text-align:center;">
	  <%= image_tag(@picture.picture_url) %>
	</p>
	<p>
	  <%= @picture.description %>
	</p>

	<%= link_to 'Edit', edit_picture_path(@picture) %> |
	<td><%= link_to 'Destroy', @picture, confirm: 'Are you sure?', method: :delete %></td> |
	<%= link_to 'Back', pictures_path(:event_id => @picture.event.id) %>
</div>