<%= form_for([@event, @event.taxes.build]) do |f| %>
  <div class="field">
    <%= f.label I18n.t :amount %>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label I18n.t :tax_name %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
