<div class="menu">
	<ul>
		<li><%= link_to 'Organizar nuevo evento', new_event_path %></li>
		<li><%= link_to 'Mis amigos' %></li>
		<li><%= link_to 'Los eventos que organizo', events_path %></li>
		<li><%= link_to 'Proximos eventos'%></li>
		<li><%= link_to 'Eventos anteriores' %></li>
		<li><%= link_to 'Galeria de fotos' %></li>
	</ul>
</div>

