<div class="menu">
	<ul>
		<li><%= link_to 'Crear Evento', new_event_path %></li>
		<li><%= link_to 'Mis Grupos' %></li>
		<li><%= link_to 'Mis eventos', events_path %></li>
		<li><%= link_to 'Eventos Anteriores' %></li>
		<li><%= link_to 'Proximos Eventos'%></li>
		<li><%= link_to 'Galeria de Fotos' %></li>
	</ul>
</div>

