<div class="menu">
	<ul>
		<li><%= link_to 'Organizar nuevo evento', new_event_path %></li><br>
		<li><%= link_to 'Eventos inscritos', profile_path %></li>
		<li><%= link_to 'Eventos que organizo', private_events_path %></li>
		<li><%= link_to 'Próximos eventos', next_events_path %></li>
		<li><%= link_to 'Eventos anteriores', past_events_path %></li>
		<li><%= link_to 'Mis amigos' %></li>
		<li><%= link_to 'Eventos públicos' , public_events_path %></li>
	</ul>
</div>

