<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> - Eventmaker</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<script type="text/javascript">
		I18n.defaultLocale = "<%= I18n.default_locale %>";
		I18n.locale = "<%= I18n.locale %>";
	</script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		<% if flash[:notice] %>
      	<p id="notice"><%= flash[:notice] %></p> 
      	<% end %>
	</div>
<%= yield %>
</body>
</html>
