<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrap">
    <div class="header">
      <% if flash[:notice] %>
      <div id="bn"><div id="notice"><%= flash[:notice] %></div></div> 
      <% end %>
        <div class="fixedtop">
          <div class="wrap">
            <div id="logo">
              <h1><%= link_to "EventMaker", :root %></h1>
            </div>
            <div class="account">
              <p id="account"> <%= I18n.t(:account?)   %> <%= link_to I18n.t(:user_register), new_user_path, id: "new_account" %></p>
            </div>
          </div>
        </div>
    </div>
    <div class="login">
    <%= form_tag 'login', :url => login_path, :method => :post do %>
      <div class="email">
        <%= label_tag I18n.t(:email) %><br>
        <%= text_field_tag :email %>
      </div>
      <div class="password">
        <%= label_tag I18n.t(:password) %><br>
        <%= password_field_tag :password %>
      </div>
      <div class="submit" text-align:"left">
        <%= submit_tag I18n.t(:login) %>
      </div>
    <% end %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
    <div class="footer">
      EventMaker Inc.
    </div>
  </div>
</body>
</html>
