<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> - Eventmaker</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrap">
    <div class="header">
      <% if flash[:notice] %>
      <div id="bn"><div id="notice"><%= flash[:notice] %></div></div> 
      <% end %>
        <div class="fixedtop">
          <div class="wrap">
            <div id="logo">
              <h1><%= link_to "EventMaker", :root %></h1>
            </div>
            <div class="account">
              <p id="account">¿No account? <%= link_to I18n.t(:user_register), new_user_path %></p>
            </div>
          </div>
        </div>
    </div>
    <div class="login">
    <%= form_for :user, :url => login_path, :name => 'login', :method => :post do |f| %>
      <div class="email">
        <%= f.label I18n.t(:email) %><br>
        <%= f.text_field :email, :value => '' %>
      </div>
      <div class="password">
        <%= f.label I18n.t(:password) %><br>
        <%= f.password_field :password, :value => '' %>
      </div>
      <div class="submit" text-align:"left">
        <%= f.submit I18n.t(:login) %>
      </div>
    <% end %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
    <div class="footer">
      EventMaker Inc.
    </div>
  </div>
</body>
</html>
