<!DOCTYPE html>
<html>
<head>
  <title>Eventmaker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		<div class="fixedtop">
			<div id="logo">
				<h1>EventMaker</h1>
			</div>
			<div class="login">
				<% if session[:user_id] %>
					<% user = User.find(session[:user_id]) %>
					<%= link_to "#{user.email}", profile_path %>
					<%= link_to "Salir", logout_path, :confirm => "¿Seguro deseas cerrar sesión?" %>
				<% end %>
				<div id="header">
				<% if flash[:notice] %>
		      		<p id="notice"><%= flash[:notice] %></p> 
		      	<% end %>
		      	</div>
			</div>
		</div>
		
	</div>
<%= yield %>

</body>
</html>
