<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> - Eventmaker</title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<script type="text/javascript">
		I18n.defaultLocale = "<%= I18n.default_locale %>";
		I18n.locale = "<%= I18n.locale %>";
	</script>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'gmaps4rails' %>
	<%= yield :head %>
</head>
<body>
<div class="wrap">
	<div class="header">
		<% if flash[:notice] %>
			<div id="bn"><div id="notice"><%= flash[:notice] %></div></div> 
		<% end %>
		<div class="fixedtop">
			<div class="wrap">
			<div id="logo">
				<h1><%= link_to "EventMaker", :root %></h1>
			</div>
			<div class="login">
				<% if session[:user_id] %>
					<% user = User.find(session[:user_id]) %>
					<%= link_to "#{user.name}", profile_path %> |
					<%= link_to t(:logout), logout_path, :confirm => t(:logout?) %>
				<% else %>
					<%= link_to t(:invited_user), :root %>
				<% end %>
			</div>
			</div>
		</div>
	</div>
	<div class="menu">
		<ul>
			<li><%= link_to_c_t :make_new_event, new_event_path %></li><br>
			<li><%= link_to_c_t :start, profile_path %></li>
			<li><%= link_to_c_t :own_events, own_events_path %></li>
			<li><%= link_to_c_t :next_events, next_events_path %></li>
			<li><%= link_to_c_t :past_events, past_events_path %></li>
			<li><%= link_to_c_t :my_friends, friends_path %></li>
			<li><%= link_to_c_t :public_events , public_events_path %></li>
		</ul>
	</div>
	<div class="content">
		<%= yield %>
	</div>
	<div class="footer">
		EventMaker Inc.
	</div>
</div>
</body>
</html>
